<!doctype html>
<title>{% block title %}{% endblock %} - Meteor Madness!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1>Meteor Madness!</h1>
    <ul>
        <li><a href="{{ url_for('trajectory')}}">Trajectory Dashboard</a></li>
        <li><a href="{{ url_for('impact')}}">Impact Visualizer</a></li>
        <li><a href="{{ url_for('action')}}">Action Dashboard</a></li>
    </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>