<!doctype html>
<title>{% block title %}{% endblock %} - Meteor Madness!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" 
    crossorigin=""/>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<nav>
    <ul>
        <li>Meteor Madness!</li>
        <li><a href="{{ url_for('SimulationManager.trajectory')}}"> ☆ Trajectory Dashboard  ☆ </a>
        <li><a href="{{ url_for('SimulationManager.impact')}}">  ☆ Impact Dashboard  ☆ </a></li></li>
        <li><a href="{{ url_for('action.mitigation')}}">  ☆ Action Dashboard  ☆ </a></li>
    </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>