# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*.class

# Virtual environment stuff
venv/
_venv/
.venv/

# Flask reccomendations
*.pyc
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

