{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Impact Visualizer{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <div id="map" style="height: 80vh; width:65vw"></div>
    <script>
        var map = L.map('map').setView([{{ lat|safe }}, {{ lon|safe }}], 7);
        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'}).addTo(map);
        
        // impact circles
        var circle = L.circle([{{ lat|safe }}, {{ lon|safe }}], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: {{ deathzone|safe }}
        }).addTo(map);

        var circle = L.circle([{{ lat|safe }}, {{ lon|safe }}], {
            color: 'yellow',
            fillColor: '#f9e2af',
            fillOpacity: 0.5,
            radius: {{ evac_zone|safe }}
        }).addTo(map);

        var circle = L.circle([{{ lat|safe }}, {{ lon|safe }}], {
            color: 'black',
            fillColor: '#181825',
            fillOpacity: 0.5,
            radius: {{ crater|safe }}
        }).addTo(map);
    </script>
</table>
{% endblock %}