{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Action Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
  <tr>
    <td style="width: 50%">
      <h2>Evacuation</h2>
      <h3 style="color:#f38ba8">Evacuating the impact area would cost {{ evac_cost|safe }} and {{ num_lives|safe }} would be saved</h3>
      <p>When considering the cost of evacuation the primary factors that need to be considered are the cost of transportation, shelter, and food per person, as well as logistical costs and the economic loss prompted by the removal of people. Wild et al, estimate that the economic loss of productivity due to evacuation for one month is around $7,977 per person, while the average cost per person evacuating for hurricane Ike was $306.61 (Jiang et al), or $461.37 adjusted for inflation. Additionally, NOAA estimates logistical costs and infrastructure damages are around 20.3 billion dollars for the average tropical storm.</p>
    </td>
    <td style="width: 50%">
      <h2>Kinetic Impactor</h2>
      <h3 style="color:#f38ba8">This Kinetic Impactor would cost {{ impactor_cost|safe }} and would save {{ num_lives|safe }} but might put an additional {{ new_impact_zone_lives|safe }}</h3>
      <div id="impactor_visualizer" name="impactor_visualizer">
        {{ impactor_plot|safe }}
      </div>
    </td>
  </tr>
</table>

<table style="width: 100%">
    <tr>
    <td>
      <h2>Additional Public Saftey considerations</h2>
    </td>
  </tr>
</table>
{% endblock %}

